/******************/
/** Code Blocks **/
/****************/
.w-code-block {
	box-shadow: 0 7px 15px -3px rgba(0, 0, 0, 0.15),
		0 15px 30px -10px rgba(0, 0, 0, 0.27);
	border-radius: 9px;
	font-family: "SF Mono", SFMono-Regular, ui-monospace,
		"DejaVu Sans Mono", Menlo, Consolas, monospace;
	margin: 1rem 0;
	font-size: 1rem;
}

code,
kbd,
pre,
samp {
	font-family: ui-monospace, Menlo, Monaco, "Cascadia Mono",
		"Segoe UI Mono", "Roboto Mono", "Oxygen Mono",
		"Ubuntu Monospace", "Source Code Pro", "Fira Mono",
		"Droid Sans Mono", "Courier New", monospace;
}

.w-code-block code {
	box-shadow: none !important;
}

.w-video iframe {
	width: 90%;
	height: 90%;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}

pre code::before {
	width: -webkit-fill-available;
}

.w-script {
	margin-bottom: 2rem;
}

/****************/
/** Selection **/
/**************/
::selection {
	background-color: var(--swatch--brand-01);
	color: var(--color--text-alt);
	-webkit-text-fill-color: var(--color--text-alt);
	text-fill-color: var(--color--text-alt);
}

/****************/
/** P3 colors **/
/**************/
@supports (color: color(display-p3 1 1 1 / 1)) {
	:root {
		--swatch--brand-01: color(display-p3 1 0 0.746);
		--swatch--brand-02: color(display-p3 0.011 0.993 0.978);
	}
}

/****************/
/** Dark Mode **/
/**************/
.dark-mode .toggle_inner {
	background-image: url('https://uploads-ssl.webflow.com/62af866a9b6a1e09cf0c89b1/6574c5cc575373ec2f5d7ee5_moon-black.svg');
}

.dark-mode .logo3_wrapper img {
	filter: invert(1);
}

/*********************/
/** Mouse Follower **/
/*******************/
.mf-cursor-text {
	color: var(--color--text-alt);
}

.mf-cursor::before {
	box-shadow: 0 12px 16px -6px var(--swatch--brand-hover);
	border: 2px solid var(--swatch--brand-01);
}

/******************/
/** Vimeo Emded **/
/****************/
.embed-vimeo iframe {
	width: 100%;
	height: 100svh;
}

/************/
/** Posts **/
/**********/
figcaption {
	font-size: smaller;
}

.w-richtext figure.w-richtext-align-center {
	margin: 3rem auto;
}

.w-richtext figure img {
	box-shadow: 0 15px 30px 0 rgba(0, 0, 0, 0.11),
		0 5px 15px 0 rgba(0, 0, 0, 0.08);
	border-radius: var(--border-radius, .5rem);
}

.w-richtext h2 {
	margin-top: 1rem;
	background-image: linear-gradient(135deg,
			var(--swatch--brand-02) 10%,
			#750de0 50%,
			var(--swatch--brand-01) 85%);
	-webkit-text-fill-color: transparent;
	-webkit-background-clip: text;
	background-clip: text;
	display: inline-block;
}

.w-richtext p>a {
	position: relative;
}

.w-richtext p>a::after {
	background-color: var(--swatch--brand-01, #f900b9);
	bottom: 0;
	content: '';
	height: 2px;
	left: 0;
	position: absolute;
	transform: scaleX(0);
	transform-origin: bottom right;
	transition: transform .25s ease-out;
	width: 100%;
}

.w-richtext p>a:hover::after {
	transform: scaleX(1);
	transform-origin: bottom left;
}

/**********************/
/** Conic gradients **/
/********************/
:root {
	--conic-radius: .5rem;
	--conic-padding: .125rem;
	--wwdc-1: #481d58;
	--wwdc-2: #ff9999;
	--wwdc-3: #fff;
}
.grid-item-image-wrapper {
	background: transparent;
	position: relative;
	border-radius: var(--conic-radius, 0.5rem);
	padding: var(--conic-padding, .125rem);
}

.grid-item-image-wrapper::before,
.grid-item-image-wrapper::after {
	content: "";
	background: conic-gradient(
		from var(--gradient-angle, 132deg),
		var(--wwdc-1),
		var(--wwdc-2),
		var(--wwdc-3),
		var(--wwdc-2),
		var(--wwdc-1)
	);
	position: absolute;
	z-index: -1;
	inset: -0.15em;
	border-radius: calc( var(--border-radius, 0.5rem) + var(--conic-radius, .5rem) );
	opacity: 0.65;
}

.grid-item-image-wrapper::after {
	opacity: 0;
}

/*************/
/** Relume **/
/***********/
/* Set color style to inherit */
.inherit-color * {
	color: inherit;
}

/* Focus state style for keyboard navigation for the focusable elements */
*[tabindex]:focus-visible,
input[type="file"]:focus-visible {
	outline: 0.125rem solid var(--swatch--brand-01, #f900b9);
	outline-offset: 0.125rem;
}

/* Get rid of top margin on first element in any rich text element */
.w-richtext> :not(div):first-child,
.w-richtext>div:first-child> :first-child {
	margin-top: 0 !important;
}

/* Get rid of bottom margin on last element in any rich text element */
.w-richtext>:last-child,
.w-richtext ol li:last-child,
.w-richtext ul li:last-child {
	margin-bottom: 0 !important;
}

/* Prevent all click and hover interaction with an element */
.pointer-events-off {
	pointer-events: none;
}

/* Enables all click and hover interaction with an element */
.pointer-events-on {
	pointer-events: auto;
}

/* Create a class of .div-square which maintains a 1:1 dimension of a div */
.div-square::after {
	content: "";
	display: block;
	padding-bottom: 100%;
}

/* Make sure containers never lose their center alignment */
.container-medium,
.container-small,
.container-large {
	margin-right: auto !important;
	margin-left: auto !important;
}

/* 
	  Make the following elements inherit typography styles from the parent and not have hardcoded values. 
	  Important: You will not be able to style for example "All Links" in Designer with this CSS applied.
	  Uncomment this CSS to use it in the project. Leave this message for future hand-off.
	  */
/*
	  a,
	  .w-input,
	  .w-select,
	  .w-tab-link,
	  .w-nav-link,
	  .w-dropdown-btn,
	  .w-dropdown-toggle,
	  .w-dropdown-link {
		color: inherit;
		text-decoration: inherit;
		font-size: inherit;
	  }
	  */

/* Apply "..." after 3 lines of text */
.text-style-3lines {
	display: -webkit-box;
	overflow: hidden;
	-webkit-line-clamp: 3;
	-webkit-box-orient: vertical;
}

/* Apply "..." after 2 lines of text */
.text-style-2lines {
	display: -webkit-box;
	overflow: hidden;
	-webkit-line-clamp: 2;
	-webkit-box-orient: vertical;
}

/* Adds inline flex display */
.display-inlineflex {
	display: inline-flex;
}

/* These classes are never overwritten */
.hide {
	display: none !important;
}

@media screen and (max-width: 991px) {

	.hide,
	.hide-tablet {
		display: none !important;
	}
}

@media screen and (max-width: 767px) {
	.hide-mobile-landscape {
		display: none !important;
	}
}

@media screen and (max-width: 479px) {
	.hide-mobile {
		display: none !important;
	}
}

.margin-0 {
	margin: 0rem !important;
}

.padding-0 {
	padding: 0rem !important;
}

.spacing-clean {
	padding: 0rem !important;
	margin: 0rem !important;
}

.margin-top {
	margin-right: 0rem !important;
	margin-bottom: 0rem !important;
	margin-left: 0rem !important;
}

.padding-top {
	padding-right: 0rem !important;
	padding-bottom: 0rem !important;
	padding-left: 0rem !important;
}

.margin-right {
	margin-top: 0rem !important;
	margin-bottom: 0rem !important;
	margin-left: 0rem !important;
}

.padding-right {
	padding-top: 0rem !important;
	padding-bottom: 0rem !important;
	padding-left: 0rem !important;
}

.margin-bottom {
	margin-top: 0rem !important;
	margin-right: 0rem !important;
	margin-left: 0rem !important;
}

.padding-bottom {
	padding-top: 0rem !important;
	padding-right: 0rem !important;
	padding-left: 0rem !important;
}

.margin-left {
	margin-top: 0rem !important;
	margin-right: 0rem !important;
	margin-bottom: 0rem !important;
}

.padding-left {
	padding-top: 0rem !important;
	padding-right: 0rem !important;
	padding-bottom: 0rem !important;
}

.margin-horizontal {
	margin-top: 0rem !important;
	margin-bottom: 0rem !important;
}

.padding-horizontal {
	padding-top: 0rem !important;
	padding-bottom: 0rem !important;
}

.margin-vertical {
	margin-right: 0rem !important;
	margin-left: 0rem !important;
}

.padding-vertical {
	padding-right: 0rem !important;
	padding-left: 0rem !important;
}

/* Apply "..." at 100% width */
.truncate-width {
	width: 100%;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
}

/* Removes native scrollbar */
.no-scrollbar {
	-ms-overflow-style: none;
	overflow: -moz-scrollbars-none;
}

.no-scrollbar::-webkit-scrollbar {
	display: none;
}

html {
	font-size: calc(0.625rem + 0.41666666666666663vw);
}

@media screen and (max-width:1920px) {
	html {
		font-size: calc(0.625rem + 0.41666666666666674vw);
	}
}

@media screen and (max-width:1440px) {
	html {
		font-size: calc(0.8126951092611863rem + 0.20811654526534862vw);
	}
}

@media screen and (max-width:479px) {
	html {
		font-size: calc(0.7494769874476988rem + 0.8368200836820083vw);
	}
}